@font-face {
  font-family: "Arcadepix";
  src: url("./Arcadepix/Arcadepix.woff2") format("woff2"),
    url("./Arcadepix/Arcadepix.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
